body {
    background-color: lightcoral;
    font-family: 'Roboto Condensed', sans-serif;
}
#displayLE{
    display: none;
    background-color: lightgreen;
}

#enterHere{
    display: none;
}

#displayMessage{
    display: none;
    background-color: lightblue;
}